.card {
    min-height: 384px;
    min-width: 320px;
    margin: 96px 128px;
    border-radius: 12px !important;
}

.media-device {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

i {
    font-size: 32px
}

span .active {
    color: green;
}

.room-name-container {
    font-size: 15px;
    margin-bottom: 6px;
}

.room-name-container span {
    font-weight: bold;
}