::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d4d4d4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #d4d4d4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4;
}

.chat-header {
    width: 100%;
    border-bottom: 1px solid;
    border-color: lightsteelblue;
    padding: 10px;
}

.sendContainer {
    width: 100%;
    position: absolute;
    border-top: 1px solid;
    border-color: lightsteelblue;
    bottom: 0;
    padding: 10px;
}

.sendContainer button {
    position: absolute;
    right: 10px;
}

.sender-msg {
    padding: 8px 12px;
    padding: 12px;
    background-color: #e1e9f9;
    opacity: 1;
    clear: both;
    color: #000;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    border-radius: 15px;
    border-bottom-right-radius: 3px;
}

.recieve-msg {
    text-align: left;
    margin-right: 20px;
    padding: 2px;
}