<div class="main-container">
    <div class="video-container">
        <!-- width: calc(100% - 320px) -->
        <div class="card1">
            <div id="room" #video>
                <div id="participants">

                </div>
            </div>
            <!-- <div id="remote" #remoteVideo class="w-100 text-center" style></div>
            <div id="local" class="position-fixed text-right w-100" #localVideo></div> -->
        </div>
        <div class="card2">
            <div>
                <span class="media-device" (click)="participantsWindow()">
                    <i class="bi bi-people-fill activeReq" *ngIf="showParticipants"></i>
                    <i class="bi bi-people-fill" *ngIf="!showParticipants"></i>
                </span>
                <span class="media-device" (click)="chatWindow()">
                    <i class="bi bi-chat-left-text-fill activeReq" *ngIf="showChat"></i>
                    <i class="bi bi-chat-left-text-fill" *ngIf="!showChat"></i>
                </span>
                <span class="media-device bg-danger" (click)="leaveCall()">
                    <i class="bi bi-telephone-fill" *ngIf="true"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="chatContainer" *ngIf="showChat">
        <div class="card h-100 ">
            <app-twilio-chat [recieve] = "requiredMsg"></app-twilio-chat>
        </div>
    </div>
    <div class="participantContainer" *ngIf="showParticipants">
        <div class="card h-100  ">
            <div class="card-header">
                Participants
            </div>
            <div class="card-body" *ngIf="allParticipants.length >= 1">
                <div *ngFor="let participant of allParticipants">
                    <span class="fw-bold text-capitalize">{{participant}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="snackbar"></div>